*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

div{
    border-bottom: 2px solid #bdbcbc;
    padding: 50px;
    text-align: center;
}

h1{
    font-size: 32px;
    
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}

p{
    font-size: 16px;
    width: 930px;
    margin: 15px auto 30px auto;
    text-align: center;
}

a{
    font-size: 14px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #49B970;
    color: #F5F5F5;
}

img{
    width: 190px;
    margin: 20px auto; 
}

span{
    font-weight: bold;
}

#rodape{
    padding: 0;
}

#linkedin{
    border-radius: 0;
    padding: 0;
    color: black;
    background-color: #F5F5F5;
    font-weight: bold;
}
